%h4 2018
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2018_itg_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_itg_2.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2018_itg_2.png")
    %h4.pubtitle#c27
      Statistical modeling of speech spectral coefficients in patients with Parkinson’s disease
    .pubauthor
      %strong Ina Kodrasi,
      Herve Bourlard
    .pubcite
      %span.label.label-warning Conference Paper 27
      In ITG Conference on Speech Communication (ITG) | Oldenburg, Germany, October 2018 | Publisher: VDE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2018_itg_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_itg_1.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2018_itg_1.png")
    %h4.pubtitle#c26
      Joint estimation of relative early transfer function vector and diffuse power spectral density estimation using an alternating least-squares approach
    .pubauthor
      Marvin Tammen,
      %strong Ina Kodrasi,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 26
      In ITG Conference on Speech Communication (ITG) | Oldenburg, Germany, October 2018 | Publisher: VDE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2018_interspeech.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_interspeech.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2018_interspeech.png")
    %h4.pubtitle#c25
      Single-channel late reverberation power spectral density estimation using denoising autoencoders
    .pubauthor
      %strong Ina Kodrasi,
      Herve Bourlard
    .pubcite
      %span.label.label-warning Conference Paper 25
      In Interspeech (IS) | Hyderabad, India, September 2018 | Publisher: ISCA
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2018_euronoise.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_euronoise.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2018_euronoise.png")
    %h4.pubtitle#c24
      Experimental evaluation of speech enhancement methods in remote microphone systems for hearing aids
    .pubauthor
      Gilles Curtois,
      Vincent Grimaldi,
      Herve Lissek,
      %strong Ina Kodrasi,
      Eleftheria Georganti
    .pubcite
      %span.label.label-warning Conference Paper 24
      In European Congress and Exposition on Noise Control Engineering (EuroNoise) | Crete, Greece, May 2018 | Pages 351&ndash;358 | Publisher: EAA
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2018_icassp_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_icassp_2.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2018_icassp_2.png")
    %h4.pubtitle#c23
      Joint late reverberation and noise power spectral density estimation in a spatially homogeneous noise field
    .pubauthor
      %strong Ina Kodrasi,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 23
      In IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP) | Calgary, Alberta, Canada, April 2018 | Pages 441&ndash;445 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2018_icassp_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2018_icassp_1.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2018_icassp_1.png")
    %h4.pubtitle#c22
      Complexity reduction of eigenvalue decomposition-based diffuse power spectral density estimators using the power method
    .pubauthor
      Marvin Tammen,
      %strong Ina Kodrasi,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 22
      In IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP) | Calgary, Alberta, Canada, April 2018 | Pages 451&ndash;455 | Publisher: IEEE
%h4 2017
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2017_waspaa.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2017_waspaa.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2017_waspaa.png")
    %h4.pubtitle#c21
      Multi-channel late reverberation power spectral density estimation based on nuclear norm minimization
    .pubauthor
      %strong Ina Kodrasi,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 21
      In IEEE Workshop on Applications of Signal Processing to Audio and Acoustics (WASPAA) | New Paltz, New York, USA, October 2017 | Pages 101&ndash;105 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2017_chat.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2017_chat.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2017_chat.png")
    %h4.pubtitle#c20
      A simulation study on binaural dereverberation and noise reduction based on diffuse power spectral density sstimators
    .pubauthor
      %strong Ina Kodrasi,
      Daniel Marquardt,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 20
      In International Workshop on Challenges in Hearing Assistive Technology (CHAT) | Stockholm, Sweden, August 2017 | Publisher: ISCA
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2017_icassp.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2017_icassp.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2017_icassp.png")
    %h4.pubtitle#c19
      Late reverberant power spectral density estimation based on an eigenvalue decomposition
    .pubauthor
      %strong Ina Kodrasi,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 19
      In IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP) | New Orleans, Louisiana, USA, March 2017 | Pages 611&ndash;615 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2017_hscma.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2017_hscma.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2017_hscma.png")
    %h4.pubtitle#c18
      EVD-based multi-channel dereverberation of a moving speaker using different RETF estimation methods
    .pubauthor
      %strong Ina Kodrasi,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 18
      In Hands-free Speech Communication and Microphone Arrays (HSCMA) | San Francisco, California, USA, March 2017 | Pages 116&ndash;120 | Publisher: IEEE
%h4 2016
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2016_icassp.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_icassp.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2016_icassp.png")
    %h4.pubtitle#c17
      Robust sparsity-promoting acoustic multi-channel equalization for speech dereverberation
    .pubauthor
      %strong Ina Kodrasi,
      Ante Jukic,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 17
      In IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP) | Shanghai, China, March 2016 | Pages 166&ndash;170 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2016_aes.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2016_aes.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2016_aes.png")
    %h4.pubtitle#c16
      Incorporating the noise statistics in acoustic multi-channel equalization
    .pubauthor
      %strong Ina Kodrasi,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 16
      In AES 60th Conference on Dereverberation and Reverberation of Audio, Music, and Speech (AES) | Leuven, Belgium, February 2016 | Publisher: AES
%h4 2015
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2015_icassp.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2015_icassp.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2015_icassp.png")
    %h4.pubtitle#c15
      Curvature based optimization of the trade-off parameter in the speech distortion weighted multichannel Wiener filter
    .pubauthor
      %strong Ina Kodrasi,
      Daniel Marquardt,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 15
      In IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP) | Brisbane, Australia, April 2015 | Pages 315-319 | Publisher: IEEE
%h4 2014
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2014_iwaenc_3.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2014_iwaenc_3.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2014_iwaenc_3.png")
    %h4.pubtitle#c14
      Joint dereverberation and noise reduction based on acoustic multichannel equalization
    .pubauthor
      %strong Ina Kodrasi,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 14
      In International Workshop on Acoustic Signal Enhancement (IWAENC) | Juan les Pins, France, September 2014 | Pages 140&ndash;144 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2014_iwaenc_2.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2014_iwaenc_2.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2014_iwaenc_2.png")
    %h4.pubtitle#c13
      A study on speech quality and speech intelligibility measures for quality assessment of single-channel dereverberation algorithms
    .pubauthor
      Stefan Goetze,
      Anna Warzybok,
      %strong Ina Kodrasi,
      Jan Jungmann,
      Benjamin Cauchi,
      Jan Rennies,
      Emanuel Habets,
      Alfred Mertins,
      Timo Gerkmann,
      Simon Doclo,
      Birger Kollmeier
    .pubcite
      %span.label.label-warning Conference Paper 13
      In International Workshop on Acoustic Signal Enhancement (IWAENC) | Juan les Pins, France, September 2014 | Pages 234&ndash;238 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2014_iwaenc_1.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2014_iwaenc_1.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2014_iwaenc_1.png")
    %h4.pubtitle#c12
      Subjective speech quality and speech intelligibility evaluation of single-channel dereverberation algorithms
    .pubauthor
      Anna Warzybok,
      %strong Ina Kodrasi,
      Jan Jungmann,
      Emanuel Habets,
      Timo Gerkmann,
      Alfred Mertins,
      Simon Doclo,
      Birger Kollmeier,
      Stefan Goetze
    .pubcite
      %span.label.label-warning Conference Paper 12
      In International Workshop on Acoustic Signal Enhancement (IWAENC) | Juan les Pins, France, September 2014 | Pages 333&ndash;337 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2014_reverb.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2014_reverb.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2014_reverb.png")
    %h4.pubtitle#c11
      Joint dereverberation and noise reduction using beamforming and a single-channel speech enhancement scheme
    .pubauthor
      Benjamin Cauchi,
      %strong Ina Kodrasi,
      Robert Rehr,
      Stefan Gerlach,
      Ante Jukic,
      Timo Gerkmann,
      Simon Doclo,
      Stefan Goetze
    .pubcite
      %span.label.label-warning Conference Paper 11
      In REverberant Voice Enhancement and Recognition Benchmark challenge  (REVERB) | Florence, Italy, May 2014 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2014_icassp.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2014_icassp.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2014_icassp.png")
    %h4.pubtitle#c10
      Frequency-domain single-channel inverse filtering for speech dereverberation: Theory and practice
    .pubauthor
      %strong Ina Kodrasi,
      Timo Gerkmann,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 10
      In IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP) | Florence, Italy, May 2014 | Pages 5214-5218 | Publisher: IEEE
%h4 2013
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2013_eusipco.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2013_eusipco.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2013_eusipco.png")
    %h4.pubtitle#c9
      Regularized subspace-based acoustic multichannel equalization for speech dereverberation
    .pubauthor
      %strong Ina Kodrasi,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 9
      In European Signal Processing Conference (EUSIPCO) | Marrakech, Morocco, September 2013 | Publisher: EURASIP
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2013_icassp.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2013_icassp.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2013_icassp.png")
    %h4.pubtitle#c8
      A perceptually constrained channel shortening technique for speech dereverberation
    .pubauthor
      %strong Ina Kodrasi,
      Stefan Goetze,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 8
      In IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP) | Vancouver, British Columbia, Canada, May 2013 | Pages 151&ndash;155 | Publisher: IEEE
    .pubcite(style="color: #990000")
      %%span.glyphicon.glyphicon-certificate
      %b Best paper candidate
%h4 2012
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2012_ieeei.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2012_ieeei.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2012_ieeei.png")
    %h4.pubtitle#c7
      Non-intrusive regularization for least-squares multichannel equalization techniques for speech dereverberation
    .pubauthor
      %strong Ina Kodrasi,
      Stefan Goetze,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 7
      In IEEE Convention of Electrical and Electronics Engineers in Israel (IEEEI) | Eilat, Israel, November 2012 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2012_iwaenc.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2012_iwaenc.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2012_iwaenc.png")
    %h4.pubtitle#c6
      Increasing the robustness of acoustic multichannel equalization by means of regularization
    .pubauthor
      %strong Ina Kodrasi,
      Stefan Goetze,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 6
      In International Workshop on Acoustic Signal Enhancement (IWAENC) | Aachen, Germany, September 2012 | Pages 161&ndash;164 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2012_eusipco.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2012_eusipco.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2012_eusipco.png")
    %h4.pubtitle#c5
      The effect of inverse filter length on the robustness of acoustic multichannel equalization
    .pubauthor
      %strong Ina Kodrasi,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 5
      In European Signal Processing Conference (EUSIPCO) | Bucharest, Romania, August 2012 | Pages 2442&ndash;2446 | Publisher: EURASIP
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2012_icassp.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2012_icassp.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2012_icassp.png")
    %h4.pubtitle#c4
      Robust partial multichannel equalization techniques for speech dereverberation
    .pubauthor
      %strong Ina Kodrasi,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 4
      In IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP) | Kyoto, Japan, March 2012 | Pages 537&ndash;540 | Publisher: IEEE
%h4 2011
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2011_icassp.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2011_icassp.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2011_icassp.png")
    %h4.pubtitle#c3
      Microphone position optimization for planar superdirective beamforming
    .pubauthor
      %strong Ina Kodrasi,
      Simon Doclo
    .pubcite
      %span.label.label-warning Conference Paper 3
      In IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP) | Prague,  Czech Republic, May 2011 | Pages 109&ndash;112 | Publisher: IEEE
%h4 2009
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2009_ofdm.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2009_ofdm.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2009_ofdm.png")
    %h4.pubtitle#c2
      Inherent time-frequency coding in OFDM -- a Possibility for ISI correction without a cyclic prefix?
    .pubauthor
      Werner Henkel,
      Fanging Hu,
      %strong Ina Kodrasi
    .pubcite
      %span.label.label-warning Conference Paper 2
      In International OFDM Workshop (OFDM) | Hamburg, Germany, September 2009
%h4 2008
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/2008_spie.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/2008_spie.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/2008_spie.png")
    %h4.pubtitle#c1
      A simulation study on the impact of lithographic process variations on CMOS device performance
    .pubauthor
      Tim Fuhner,
      Christian Kampen,
      %strong Ina Kodrasi,
      Alexander Burenkov,
      Andreas Erdmann
    .pubcite
      %span.label.label-warning Conference Paper 1
      In Proceedings of SPIE - The International Society for Optical Engineering (SPIE) | California, USA, April 2008
