%h4 2018
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/26_itaslp.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      /
        %a(href="papers/26_itaslp.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/26_itaslp.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/26_itaslp.png" border="0")
    %h4.pubtitle#j7   Analysis of eigenvalue decomposition-based late reverberation power spectral density estimation
    .pubauthor
      %strong Ina Kodrasi,
      Simon Doclo
    .pubcite
      %span.label.label-info Journal Article 7
      In IEEE/ACM Transactions on Audio, Speech and Language Processing 26(6), June 2018 | Pages 1106&ndash;1118 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/11_eurasip.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      /
        %a(href="papers/11_eurasip.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/11_eurasip.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/11_eurasip.png" border="0")
    %h4.pubtitle#j6  Improving the conditioning of the optimization criterion in acoustic multi-channel equalization using shorter reshaping filters
    .pubauthor
      %strong Ina Kodrasi,
      Simon Doclo
    .pubcite
      %span.label.label-info Journal Article 6
      In EURASIP Journal on Advances in Signal Processing 11, February 2018 | Publisher: Springer
%h4 2017
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/25_itaslp.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      /
        %a(href="papers/25_itaslp.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/25_itaslp.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/25_itaslp.png" border="0")
    %h4.pubtitle#j5  Signal-dependent penalty functions for robust acoustic multi-channel equalization
    .pubauthor
      %strong Ina Kodrasi,
      Simon Doclo
    .pubcite
      %span.label.label-info Journal Article 5
      In IEEE/ACM Transactions on Audio, Speech and Language Processing 25(7), July 2017 | Pages 1512&ndash;1525 | Publisher: IEEE
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/65_jaes.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      /
        %a(href="papers/65_jaes.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/65_jaes.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/65_jaes.png" border="0")
    %h4.pubtitle#j4 Instrumental and perceptual evaluation of dereverberation techniques based on robust acoustic multi-channel equalization
    .pubauthor
      %strong Ina Kodrasi,
      Benjamin Cauchi,
      Stefan Goetze,
      Simon Doclo
    .pubcite
      %span.label.label-info Journal Article 4
      In Journal of the Audio Engineering Society 65(1/2), January 2017 | Pages 117&ndash;129 | Publisher: AES
%h4 2016
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/24_itaslp.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      /
        %a(href="papers/24_itaslp.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/24_itaslp.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/24_itaslp.png" border="0")
    %h4.pubtitle#j3  Joint Dereverberation and noise reduction based on acoustic multichannel equalization
    .pubauthor
      %strong Ina Kodrasi,
      Simon Doclo
    .pubcite
      %span.label.label-info Journal Article 3
      In IEEE/ACM Transactions on Audio, Speech and Language Processing 24(4), April 2016 | Pages 680&ndash;693 | Publisher: IEEE
%h4 2015
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/61_eurasip.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      /
        %a(href="papers/61_eurasip.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/61_eurasip.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/61_eurasip.png" border="0")
    %h4.pubtitle#j2 Combination of MVDR beamforming and single-channel spectral processing for enhancing noisy and reverberant speech
    .pubauthor
      Benjamin Cauchi,
      %strong Ina Kodrasi,
      Robert Rehr,
      Stefan Gerlach,
      Ante Jukic,
      Timo Gerkmann,
      Simon Doclo,
      Stefan Goetze
    .pubcite
      %span.label.label-info Journal Article 2
      In EURASIP Journal on Advances in Signal Processing 61, July 2015 | Publisher: Springer
%h4 2013
.item
  .pubmain
    .pubassets
      
      %a.paper(href="papers/21_itaslp.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
        %span.glyphicon.glyphicon-cloud-download
      /
        %a(href="papers/21_itaslp.pdf" data-toggle="tooltip" data-placement="top" title="View PDF")
          %span.glyphicon.glyphicon-cloud-download
    %a.paper(href="papers/21_itaslp.pdf" target="_blank")
      %img.pubthumb(src="images/thumbs/21_itaslp.png" border="0")
    %h4.pubtitle#j1 Regularization for partial multichannel equalization for speech dereverberation
    .pubauthor
      %strong Ina Kodrasi,
      Stefan Goetze,
      Simon Doclo
    .pubcite
      %span.label.label-info Journal Article 1
      In IEEE/ACM Transactions on Audio, Speech and Language Processing 21(9), September 2013 | Pages 1879&ndash;1890 | Publisher: IEEE
