%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c27") Statistical modeling of speech spectral coefficients in patients with Parkinson’s disease
    %li
      %a(href="publications.html#c26") Joint estimation of relative early transfer function vector and diffuse power spectral density estimation using an alternating least-squares approach
  have been accepted at ITG 2018.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c25") Single-channel late reverberation power spectral density estimation using denoising autoencoders
  has been accepted at IS 2018.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The paper
  %a(href="publications.html#c24") Experimental evaluation of speech enhancement methods in remote microphone systems for hearing aids
  has been accepted at EuroNoise 2018.
  %a.badge(href="publications.html#conferences") publication
%li.list-group-item
  The article
  %a(href="publications.html#j7")   Analysis of eigenvalue decomposition-based late reverberation power spectral density estimation
  got accepted for publication in
  %i IEEE/ACM Transactions on Audio, Speech and Language Processing.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The article
  %a(href="publications.html#j6")  Improving the conditioning of the optimization criterion in acoustic multi-channel equalization using shorter reshaping filters
  got accepted for publication in
  %i EURASIP Journal on Advances in Signal Processing.
  %a.badge(href="publications.html") publication
%li.list-group-item
  The papers
  %ul
    %li
      %a(href="publications.html#c23") Joint late reverberation and noise power spectral density estimation in a spatially homogeneous noise field
    %li
      %a(href="publications.html#c22") Complexity reduction of eigenvalue decomposition-based diffuse power spectral density estimators using the power method
  have been accepted at ICASSP 2018.
  %a.badge(href="publications.html#conferences") publication
